<mat-toolbar class="main-header" color="primary">
  <div class="social-icons">
    <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter-x"></i></a>
    <a href="#"><i class="bi bi-chat-dots-fill"></i></a>
</div>

  <div class="logo-container">
    <img class="logo" src="assets/images/logo1-removebg-preview.png" alt="Logo">
  </div>
  <span class="spacer"></span>
  <a class="client-space" routerLink="/client">
    <button class="client-button">
      <a href="#" target="_blank"><i class="bi bi-person"></i></a>
      Client Area
    </button>
  </a>
</mat-toolbar>

<mat-toolbar class="top-header" color="primary">
  <nav>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/about">About Us</a>
    <a mat-button routerLink="/team">Attorneys</a>
    <a mat-button routerLink="/services">Practice Area</a>
    <a mat-button routerLink="/blog">Blog</a>
  </nav>
</mat-toolbar>